/* This is the main stylesheet for Showcase website */
/* The primary layout is done with Bootstrap CSS */
/* To change the bootstrap style make ammendments in this stylesheet to the relevant classes */

/* GENERAL CLASSES */
.general-body-class {}
.general-navbar-class {}
.general-navbar-title-class {}
.general-navbar-buttons-class {}
.general-footer-copyright-class {}

/* GENERAL CLASSES -> BOOTSTRAP */
body {}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}

.nav {}
.nav-pills {}
.nav-link {}
.nav-item {}

.img-fluid {}

.btn {}

.list-group {}
.list-group-item {}

.modal {}
.modal-content {}
.modal-header {}
.modal-title {}
.modal-body {}
.modal-footer {}

.card {}
.card-header {}
.card-title {}
.card-body {}

.form-switch {}

/* LANDING PAGE */
.landingpage-title-container {
    background: url('../img/background_1920x1080.png');
    background-size: cover;
    min-height: 600px;
}

.landingpage-title-header {}
.landingpage-title-sub {}
.landingpage-section-image {}
.landingpage-section-title {}
.landingpage-section-subtitle {}
.landingpage-section-button {}

/* ABOUT PAGE */
.about-title-header {}
.about-title-sub {}
.about-section-image {}
.about-section-title {}
.about-section-subtitle {}
.about-institution-scroller {}
.about-institution-item {}
.about-team-container {}
.about-team-item {}

/* MONITORING PAGE */
.monitoring-title-header {}
.monitoring-title-sub {}
.monitoring-section-button {}
.monitoring-section-image {}
.monitoring-section-title {}
.monitoring-section-subtitle {}

/* IDENTIFICATION PAGE */
.identification-title-header {}
.identification-title-sub {}
.identification-section-button {}
.identification-section-button-list {}
.identification-section-title {}
.identification-list-group {}
.identification-list-group-item {}

/* NEWS PAGE */
.news-title-header {}
.news-title-sub {}
.news-section-image {}
.news-section-title {}
.news-section-intro {}
.news-section-more {}

/* USERHOME PAGE */
.userhome-title-header {}
.userhome-title-sub {}
.userhome-section-statscard {}
.userhome-section-title {}
.userhome-section-graph {}
.userhome-section-messages-list {}
.userhome-section-messages-list-item {}
.userhome-section-message-image {}
.userhome-section-button {}
.userhome-section-map {}

/* USER SETTINGS PAGE */
.usersettings-title-header {}
.usersettings-title-sub {}
.usersettings-card {}
.usersettings-card-body {}
.usersettings-table {}
.usersettings-switch {}
.usersettings-section-title {}
.usersettings-section-button {}
.usersettings-count-item {}
.usersettings-count-item-selector {}
.usersettings-count-item-selector-image {}
.usersettings-count-item-selector-input {}

/* USER VISIT INDEX PAGE */
.uservisitindex-card {}
.uservisitindex-card-header {}
.uservisitindex-card-body {}
.uservisitindex-button {}
.uservisitindex-table {}
.uservisitindex-header {}
.uservisitindex-cell {}
.uservisitindex-actionbutton {}

/* USER VISIT CREATE/EDIT PAGE */
.uservisitcreate-title-header {}
.uservisitcreate-section-title {}
.uservisitcreate-button {}
.uservisitcreate-card {}
.uservisitcreate-card-body {}
.uservisitcreate-form-label {}
.uservisitcreate-form-input {}
.uservisitcreate-table {}
.uservisitcreate-header {}
.uservisitcreate-cell {}
.uservisitcreate-speciesselect2 {}

.uservisitcreate-actionbutton {}

/* These are in use */
.background-container {
    background: url('../img/background_1920x1080.png');
    background-size: cover;
    min-height: 800px;
}

.central-container {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;
}

.switch-direction {
    flex-direction: row-reverse;
}